body{
background-image: url("winter.jpg");
background-repeat: no-repeat;
background-size: cover;
}
h1{
    font-size: 78px;
    text-align: center;
    color: lightgreen;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

a{
    color: navajowhite;
    font-size: 20px;
}