body{
padding-top: 90px;
background-image: url("back3.jpg");
background-repeat: no-repeat;
background-size: cover;

}
nav a{
    color: white;
}
.topTitle{
    color:black;
    font-family: cursive;
    text-align: center;
    text-shadow: -2px 0 lightgreen, 0 2px lightgreen, 2px 0 lightgreen, 0 -2px lightgreen;
}
.yourCity{
    background-image: url("radar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
    
    }
u{
    color: red;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.popOutText{
    color:red;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}    
.yourCityFront{
    background-image: url("dreamer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.paintsvilleCity{
    background: url("background3.jpg");
    background-repeat: no-repeat;
    background-position: left;
   

    }
.pigeonForgeCity{
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-position: top;    

}

.huntingtonCity{
    background-image: url("background3.jpg");
    background-position: top;
    background-repeat: no-repeat;
   }
.card{
   border-radius: 10%;
   background-size: cover;
   border: solid 5px;
   border-style: groove;
 
}
.sectionTitle{
    color:lightgreen;
    font-family: cursive;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h2{
    text-align: center;
    color:mediumseagreen;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

h4{
    color:black;
    font-weight: bold;
    text-align: center;
    
}
h5{
    text-align: center;
    font-weight: bold;
    color:black;
}
.container2{
  perspective: 800px;
}
.card2{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card2:hover .front{
  transform: rotateY(-180deg);
}

.card2:hover .back {
 transform: rotateY(0deg);
}
.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 2.5s;
}
.face.front {
  transform: rotateY(0deg);
  
} 

.face.back {
  transform: rotateY(180deg);
  background-image: url("gat.jpg");
    background-position: right;
    background-repeat: no-repeat;
 
}
.face.back h5{
    text-align: left;
}



